[run]
branch = True
source = src/vremenar

[report]
exclude_lines =
    pragma: no cover
    if self.debug:
    if debug:
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    src/vremenar/tests/*
    tests/*
